/* 
#2b6777
#c8d8e4
#fff
#f2f2f2
#42ab98
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  color: #2b6777;
}

.navigation,
.footer {
  background-color: #2b6777;
  color: #f2f2f2;
  padding: 4rem 4rem;
}

.navigation-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  font-size: 4.5rem;
}

.link {
  display: inline-block;
  padding-right: 2rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link:last-child {
  padding-right: 0;
}

.link:link,
.link:visited {
  font-size: 1.3rem;
  color: #f2f2f2;
}

.link:hover,
.link:active {
  color: #c8d8e4;
}

.about,
.contact,
.registration,
.login {
  max-width: 90%;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.about {
  padding: 3rem 9rem;
}

.image {
  display: inline-block;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 2px solid #2b6777;
  margin-left: 5rem;
}

.name {
  font-size: 4rem;
  padding-left: 5rem;
}

.myself {
  font-size: 1.5rem;
  padding: 3rem 5rem 0 5rem;
}

.list-heading {
  font-size: 2rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.list {
  font-size: 1.5rem;
  line-height: 1.5;
}

ol {
  padding-left: 2rem;
}

.right {
  margin-left: 10rem;
}

.left {
  margin-left: 10rem;
}

.tertiary-heading {
  font-size: 2rem;
  font-style: italic;
  padding-bottom: 1rem;
}

.other-box {
  background-color: #2b6777;
  color: #fff;
  margin: 4rem 10rem 0 10rem;
  padding: 5rem 6rem;
  border-radius: 2rem;
}

.list-3 {
  font-size: 1.5rem;
  list-style: square;
  line-height: 1.2;
}

.button-box {
  text-align: center;
}

.btn-contact {
  display: inline-block;
  text-decoration: none;
  padding-top: 5rem;
}

.contact-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #f2f2f2;
  background-color: #16967c;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.8rem;
  line-height: 1.5;
  border-radius: 3rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.contact-btn:hover {
  background-color: #f2f2f2;
  color: #42ab98;
  border: 1px solid #16967c;
}

.contact-btn:focus,
.contact-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(22, 150, 125, 0.25);
}

.contact-lg {
  padding: 2rem 4rem;
  font-size: 1.8rem;
  line-height: 1.5;
}

.footer {
  text-align: center;
}

/* ------OTHER PAGES------ */

.contact {
  padding: 10rem 20rem;
  height: 72rem;
}

.registration {
  padding: 3rem 20rem;
  height: 72rem;
}

.login {
  padding: 10rem 20rem;
  height: 72rem;
}

.form-heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.form-group {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.form-input {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2b6777;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: 1px solid #2b6777;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border: 1px solid #5ab8d4;
}

select.form-control[size],
select.form-control[multiple] {
  height: auto;
}

textarea.form-control {
  font-family: sans-serif;
  height: auto;
}

label.form-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #555;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 00.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

@media (prefer-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn:hover {
  color: #555;
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(22, 150, 125, 0.25);
}

.btn-primary {
  color: #f2f2f2;
  background-color: #42ab98;
  border-color: #16967c;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #f2f2f2;
  background-color: #42ab98;
  border-color: #16967c;
  box-shadow: 0 0 0 0.2rem rgba(39, 160, 136, 0.5);
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

@media (max-width: 50em) {
  html {
    font-size: 50%;
  }
  .navigation-bar {
    display: flex;
    flex-direction: column;
  }

  .nav-box {
    margin-top: 1rem;
  }

  .other-box {
    margin: 4rem 5rem 0 5rem;
    padding: 2rem 3rem;
    border-radius: 2rem;
  }
}
